extends layout

block content
  div.all
    h1 Coming 
    div
        each group in grouped
          div.box
            each person in group
              p Name: #{person.name}
              p Diet: #{person.diet}
              p Allergies: #{person.allergies}

    h1 Not coming 
    ul
      each person in notComing
        div.box
          li People: #{person.people}
          li Message: #{person.message}


    h1 CSV 
      each person in coming
          p #{person.name}, #{person.diet},#{person.allergies}