extends layout

block content
  div.all
    h1.allTitle Attending
    div.boxHolder
        each group in grouped
          div.box
            each person in group
              div.person
                p Name: #{person.name}
                p Diet: #{person.diet}
                p Allergies: #{person.allergies}

    h1.allTitle Not attending 
    div
      each person in notComing
        div.boxNot
          p People: #{person.people}
          p Message: #{person.message}


    h1.allTitle CSV
    each person in coming
          p.csv #{person.name}, #{person.diet}, #{person.allergies}