extends layout

block content
  div.formPage
    h1.whoscoming Who's coming?
    form.yesForm(method="POST")
      - for (var n = 1; n <= number; n++)
        div.details
          h3.yesTag Guest #{n}
          label(for=`name${n}`) Full name
          input(type='text', name=`name${n}`, required)      
          label(for=`diet${n}`) Meal preference
          select(name=`diet${n}`)
            each val in ['Vegan', 'Vegetarian', 'Meat']
              option(value=val, selected='Meat')= val
          label(for=`allergies${n}`) Any allergies?
          input(type='text' name=`allergies${n}`)
      button(type='submit') Submit