extends layout

block content
  div
    h1 Fill out the form
    form(method="POST")
      - for (var n = 1; n <= number; n++)
        div
          label(for=`name${n}`) Name:
          input(type='text', name=`name${n}`, required)      
          label(for=`diet${n}`) Diet:
          select(name=`diet${n}`)
            each val in ['Vegan', 'Vegetarian', 'Meat']
              option(value=val, selected='Meat')= val
          label(for=`allergies${n}`) Allergies:
          input(type='text' name=`allergies${n}`)
      button(type='submit') Submit